<% recipe = @recipes[@id] %>
<h1>Image for <%= recipe[:title] %></h1>
<% if !no_image?(@id) %>
  <form class="" action="/image/<%= @id %>/delete" method="post">
    <button type="submit" class='delete' name="delete">Delete Image</button>
  </form>
<% end %>
<form class="" action="/image/<%= @id %>" method="post">
  <% if no_image?(@id) %>
    <label for="image"><h4>Add an image link</h4></label>
    <input type="text" id='image' required name="image" value="<%= @image || params[:image] %>">
    <button type="submit" class='edit' name="button">Add Image</button>
  <% else %>
    <h4>Current image</h4>
    <img src='<%= recipe[:image] %>' class='image' alt="food">
    <label for="image"><h4>Update image: add an image link</h4></label>
    <input type="text" id='image' required name="image" value="<%= @image || params[:image] %>">
    <button type="submit" class='edit' name="button">Update Image</button>
  <% end %>
  <a href="/recipe/<%= @id %>"><button type="button" class='cancel' name="cancel">Cancel</button></a>
</form>
