<% recipe = @recipes[@id] %>
<div class='recipe'>
  <div class='title'>
    <h1><%= recipe[:title] %></h1>
    <a class='edit_title' href='/edit/<%= @id %>/title'><button type='button' name='edit'>Edit</button></a>
  </div>

  <img class='recipe_image' src='<%= recipe[:image] %>' alt='food'>

  <div class='ingredients'>
    <h2>Ingredients</h2>
    <%= recipe[:ingredients] %>
    <br>
    <a href='/edit/<%= @id %>/ingredients'><button type='button' name='edit'>Edit</button></a>
  </div>


  <div class='directions'>
    <h2>Directions</h2>
    <%= recipe[:directions] %>
    <br>
    <a href='/edit/<%= @id %>/directions'><button type='button' name='edit'>Edit</button></a>
  </div>


  <div class='notes'>
    <h2>Notes</h2>
    <%= recipe[:notes] %>
    <br>
    <a href='/edit/<%= @id %>/notes'><button type='button' name='edit'>Edit</button></a>
  </div>

  <div class='buttons'>
    <a href='/recipes'><button type='button' name='return'>Back to Recipes</button></a>
    <a href='/add'><button type='button' name='add'>Add a Recipe</button></a>
  </div>
</div>
<form class='signout' action='/signout' method='post'>
  <button type='submit' name='signout'>Signout</button>
</form>
<!-- <p>signed in as <%= session[:username] %></p> -->
</p>
