<% recipe = @recipes[@id] %>
<div class='recipe'>
  <div class='title'>
    <h1><%= recipe[:title] %></h1>
    <a class='edit_title' href='/edit/<%= @id %>/title'><button type='button' class='edit' name='edit'>Edit</button></a>
  </div>

  <% if recipe[:image].empty? %>
    <a href="/image/<%= @id %>"><button type="button" name="button">Add photo</button></a>
  <% else %>
    <img class='recipe_image' src='<%= recipe[:image] %>' alt='food'>
    <a href="/image/<%= @id %>"><button type="button" name="button">Change photo</button></a>
  <% end %>

  <div class='ingredients'>
    <h2>Ingredients</h2>
    <% recipe[:ingredients].each do |item| %><li><%= item %></li><% end %>
    <br>
    <a href='/edit/<%= @id %>/ingredients'><button type='button' class='edit' name='edit'>Edit</button></a>
  </div>

  <div class='instructions'>
    <h2>Instructions</h2>
    <% recipe[:instructions].each do |step|  %><li><%= step %></li><% end %>
    <br>
    <a href='/edit/<%= @id %>/instructions'><button type='button' class='edit' name='edit'>Edit</button></a>
  </div>

  <div class='notes'>
    <h2>Notes</h2>
    <%= recipe[:notes] %>
    <br>
    <a href='/edit/<%= @id %>/notes'><button type='button' class='edit' name='edit'>Edit</button></a>
  </div>

  <div class='buttons'>
    <a href='/add'><button type='button' class='add' name='add'>Add a Recipe</button></a>
    <a href='/recipes'><button type='button' class='return' name='return'>Back to Recipes</button></a>
    <form class='inline' action='/delete/<%= @id %>' method='post'>
      <button type='submit' class='delete' name='delete'>Delete</button>
    </form>
  </div>
</div>
<p>
<form action='/signout' method='post'>
  <button type='submit' class='signout' name='signout'>Signout</button>
</form>
<!-- <p>signed in as <%= session[:username] %></p> -->
</p>
